# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
libexec/
share/
tmp/
dist/
s3backup

# Test binary, build with `go test -c`
*.test

# Output of the go coverage and other tools
*.out
*.txt

test/*yaml
test/*/*yaml
*.swp
